<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/styles/style_2.css">
</head>
<body>
    <div class = "main">
      <h1 class="main_title"translate="no">Online ○×Game clinet</h1>
      <div class = "douns">
        <div class = "windows">
            <p>windows</p>
            <a href="https://drive.google.com/file/d/1-y5SeBCvdrGMCSwuryORnPSmO5kDm4-S/view?usp=sharing">
                <img src="/imgs/windows_logos_PNG24.png" class = "windows_img" width="100" height="100">
            </a>
            <p></p>
            <a class = "main_link" href="https://drive.google.com/file/d/1-y5SeBCvdrGMCSwuryORnPSmO5kDm4-S/view?usp=sharing">download zip</a>
        </div>
        <div class = "kankaku">
            <img src="/imgs/コスチューム2(1).png" class = "windows_img" width="150" height="100">
            <p></p>
        </div>
        <div class = "windows">
            <p>mac</p>
            <a href="https://drive.google.com/file/d/1-y5SeBCvdrGMCSwuryORnPSmO5kDm4-S/view?usp=sharing">
                <img src="/imgs/Apple_logo_grey.png" class = "windows_img" width="100" height="110">
            </a>
            <p></p>
            <a class = "main_link" href="https://drive.google.com/file/d/1-y5SeBCvdrGMCSwuryORnPSmO5kDm4-S/view?usp=sharing">download zip</a>
        </div>
    </div>
    <div class = "botom">
        <p>制作　fumi</p>
    </div>
    </div>

</body>
</html>